<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
  <div class="wrapper">
    <% include ../partials/nav %>

    <!-- Main content -->
    <div id="content" class="container">

      <div class="d-flex flex-row">
        <!-- Toggle sidebar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Toggle Sidebar</span>
            </button>
          </div>
        </nav>


    </div> <!-- End Main content -->
  </div>   <!-- End Wrapper -->
  <% include ../partials/scripts %>

</body>

</html>